<!DOCTYPE html>
<html>
	<head>
		<title>ardios</title>
	</head>
	<link rel="stylesheet" href="css/style.css">
	<body>
		<h1>Adios rdio, it's been real.</h1>
		<button id="authenticate-rdio">Authenticate rdio.</button>
		<button id="authenticate-spotify">Authenticate spotify.</button>
		<textarea name="trackIds" form="tracks" cols="180" rows="30"></textarea>
		<form action="/saved" method="post" id="tracks">
			<input type="submit">
		</form>
	</body>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="js/authenticate.js"></script>
</html>